@function px2rem($px){
	$rem: 37.5px;
	@return ($px / $rem) +rem;
}
body,html,ul{
	padding:0;
	margin:0;
}
.header{
	height: px2rem(40px);
	line-height: px2rem(40px);
	width:100%;
	background-color: red;
	padding-left: px2rem(23px);
	box-sizing: border-box;
	.header-item{
		float:left;
		color:#ffcdce;
		font-size: px2rem(16px);
		margin-left: px2rem(20px);
		list-style-type: none;

		&:nth-child(2){
			color:#fff;
			font-size:px2rem(17px);
		}
	}
}

.banner-content{
	position: relative;
	.banner{
		display: black;
		width:100%;
		height:px2rem(190px);
	}
	.banner-title{
		position: absolute;
		left:px2rem(15px);
		bottom:px2rem(15px);
		/*color:#fff;*/
		color:#000;
		font-size: px2rem(16px);
	}
}

.news-content{
	.news-item{
		width:100%;
		height:px2rem(90px);
		padding-left:px2rem(15px);
		padding-right:px2rem(15px);
		box-sizing: border-box;
	}
	.item-inner{
		position:relative;
		height:100%;
		overflow: hidden;
		border-bottom:px2rem(1px) solid #e5e5e5;
	}
	.news-img{
		float:left;
		display: block;
		margin-top: px2rem(10px);
		width:px2rem(95px);
		height:px2rem(70px);
		margin-right:px2rem(15px);
	}
	.news-title{
		color:#404040;
		font-size:px2rem(17px);
		margin-top:px2rem(16px);
		line-height:px2rem(20px);

	}
	.time{
		position: absolute;
		left:px2rem(105px);
		bottom:px2rem(17px);
		color:#888;
		font-size:px2rem(12px);
	}
	.num{
		position:absolute;
		color:#888;
		font-size:px2rem(12px);
		right:px2rem(4px);
		bottom:px2rem(17px);
		&:before{
			content:'';
			display:block;
			position: absolute;
		};
	}
}
